.thirdSection {
  background-color: black;
}
.imgBack > img {
  width: 100%;
}

.musicAnimationContainer > * {
  width: 3%;
  display: inline-block;
  padding-left: 12%;
}
.musicAnimationContainer {
  position: relative;
  z-index: 3;
  top: -80px;
}
.buttomSector {
  margin-top: 20%;
}
.buttomSector > .divForP > p {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 5%;
  color: white;
}
.buttomSector > .divForP {
  width: 100%;
  background-color: black;
}
