.game {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 0;
  background-color: black;
}

.play {
  position: absolute;
  background: transparent;
  z-index: 10;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.play > p {
  zoom: 400%;
}
.playButtonConture {
  width: 100%;
}
.conteinerbodywithanim {
  width: 35%;
  margin-top: 0 !important;
  margin: 20% auto 0%;
  padding-top: 15%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.singOrPaste {
  text-align: center;
  padding-top: 7%;
}
.singOrPaste > button {
  font-size: 2vw;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
  padding: 5% 1.4%;
  background-color: aliceblue;
  border-radius: 32%;
  cursor: pointer;
}
.singOrPaste > *:nth-child(2) {
  margin-left: 20%;
}