.paste-text {
    text-align: center;
    margin-top: 13%;
  }
  .paste-text textarea {
    font-size: 2vw;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    padding-top: 4%;
    margin-top: 2%;
    padding: 0 10% 10% 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .go-btn {
      color: black;
      padding: 2.7% 2.7% 2.7% 2.7%;
      border-radius: 22%;
      background-color: white;
      vertical-align: top;
      margin-top: 5%;
      font-size: 5vw;
      font-weight: 600;
      font-family: "Montserrat";
      cursor: pointer;
      display: inline-block;
      align-self: center;
  }
  .paste-text p  {
      font-size: 2vw;
      font-weight: 400;
      font-family: "Montserrat";
      text-align: center;
      color: aliceblue;
  }
  